#head{
     background-color: crimson;
    height: 200px; /*высота*/
}
{
margin: 0;
padding:0;
}
.green-text {
}
 #sidebar{
     background-color: darkgoldenrod;
     width: 200%;
     float: left;
     padding: 5px;
 }
 #content {
     background-color: beige;
     width: 590px;
     float: right;
 }
 #footer{
     background-color: #d9ff01;
 }
 .wrap{
     width: 800px;
     margin: auto;
 }
 .clear{
     clear: both;
 }

