* {
    margin: 0;
    padding: 0;
}
#head {
    background-color: snow;
    height: 200px; /*высота*/
}

#sidebar {
    background-color: beige;
    width: 200px;
    float: left;
    padding: 5px;
}

#content {
    background-color: beige;
    width: 590px;
    float: right;
}

#footer {
    background-color: #d9ff01;
}
.wrap {
    width: 800px;
    margin: auto;
}

.clear {
    clear: both;
}

